################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################
client/package-lock.json
package-lock.json
server/.vs/API_Diseño/FileContentIndex/6c16db84-461b-4d31-9293-84635c6570db.vsidx
client/package.json
client/package-lock.json
